* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", helvetica, sans-serif;
}

h1,
footer {
    text-align: center;
    padding: 1rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    background: #000;
    animation: fade 10s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}